<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        th{color:#955251}
    </style>
</head>
<body>

<div class="container">
  <h2>Display Table</h2>


  <table class="table table-success table-hover">

    <thead>
      <tr>
        <th>NAME</th>
        <th>EMAIL</th>
        <th>CONTACT NUMBER</th>

      </tr>
    </thead>
    <tbody>


          {% if obj %}
    {% for k in obj %}
    <tr>
        <td>{{k.name}}</td>
          <td>{{k.emailid}}</td>
          <td>{{k.contact}}</td>

      </tr>
    {% endfor%}
{% endif%}

    </tbody>

  </table>

</div>

</body>
</html>